// $blue: #73c9de;
// $darkBlue: #63b1c5;

// $water: #3bb8df;
// $waterHover: #2f9cbd;
// $darkWater: #06a4d4;


$blue: #109537;
$darkBlue: #0f7f30;

$water: #6fac33;
$waterHover: #61962d;
$darkWater: #518220;

$black: #191919;

$gray: #9d9d9d;
$lightGray: #dad8d8;
$darkGray: #424242;
