@import "../../colors.scss";

.root {
  h3 {
    color: $blue;
  }
  a {
    display: inline-block;
    margin-bottom: 10px;

    color: #000;
    transition: 0.2s;

    &:hover {
      color: $blue;
    }
  }
}
